[submodule "vendor/rsense"]
	path = vendor/rsense
	url = http://github.com/m2ym/rsense.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = http://github.com/defunkt/textmate.el.git
[submodule "vendor/delim-kill"]
	path = vendor/delim-kill
	url = http://github.com/thomas11/delim-kill.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = http://github.com/pezra/rspec-mode.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = http://github.com/senny/rvm.el.git
